<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Informations de Client</title>
<link rel="stylesheet" href="../static/css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}"></link>			
	<style>
				*{
					margin:0;
					padding:0;		
				}
	            .panel{
	                width:40%;
	                text-align:center;
	                position:relative;
	                left:30%;
	                right:30%;
	                top:150px;  
	            }
	            table{
	            	width:100%;
	            	height:100%;
	            }
	           
	</style>
</head>
<body>
	<div  class="panel panel-primary">
		<div class="panel-heading">Informations Du Client</div>
		<div class="panel-body">
			
				<table >
					<tr>
						<td align="left">
							<label>Nom Client</label>
						</td>
						<td align="left">
							<label >:</label>
						</td>
						<td align="left">
							<p class="nomClient" th:text="${client.nomClient}"></p>
						</td>
					</tr>
					<tr>
						<td align="left">
							<label>Adresse</label>
						</td>
						<td width="50" align="left" >
							<label >:</label>
						</td>
						<td align="left">
							<p class="adresse" th:text="${client.adresse}"></p>
						</td>
					</tr>
					<tr>
						<td align="left">
							<label >Email</label>
						</td>
						<td align="left">
							<label >:</label>
						</td>
						<td align="left">
							<p class="email" th:text=${client.email}></p>
						</td>
					</tr>
				</table>
		</div>
	</div>
	<div  class="panel panel-primary">
		<div class="panel-heading">Informations Du Paiement</div>
		<div class="panel-body">
			
				<table >
					<tr>
						<td align="left">
							<label>Nom Titulaire</label>
						</td>
						<td align="left">
							<label >:</label>
						</td>
						<td align="left">
							<p class="nomTitulaire" th:text="${paiement.nomTitulaire}"></p>
						</td>
					</tr>
					<tr>
						<td align="left">
							<label>Numero de carte</label>
						</td>
						<td width="50" align="left" >
							<label >:</label>
						</td>
						<td align="left">
							<p class="numCarte" th:text="${paiement.numCarte}"></p>
						</td>
					</tr>
					<tr>
						<td align="left">
							<label >Code CVV</label>
						</td>
						<td align="left">
							<label >:</label>
						</td>
						<td align="left">
							<p class="codeCVV" th:text=${paiement.codeCVV}></p>
						</td>
					</tr>
					<tr>
						<td align="left">
							<label>Date Expiration</label>
						</td>
						<td align="left">
							<label >:</label>
						</td>
						<td align="left">
							<p class="dateExpiration" th:text=${date}></p>
						</td>
					</tr>
				</table>
		</div>
	</div>
</body>
</html>